<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>DC Inbox - CS546 Final Project</title>

	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<main>
		<nav>
			<a href="/">Home</a>
			<a href="/register">Register</a>
			<a href="/login">Login</a>
			<a href="/search">Search</a>
		</nav>
		<div>
			{{{body}}}
		</div>
	</main>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
	<script src="/public/js/form.js"></script>
</body>

</html>
