<h1>Welcome to DC Inbox</h1>
<h2>About the project</h2>
<p>DC Inbox is a repository of over 60,000 official e-newsletters sent from members of the U.S. Congress to their constituents. Starting in August 2009, every official e-newsletter sent was captured and compiled to create the database. Depending on the specific Congress and chamber 80-95% of all legislators sent at least one e-newsletter during their term. DC Inbox is the most comprehensive and easily accessible online archive of these official communications.</p>
<h3>Team Members</h3>
<p>Stephen McArdle, Andrew Neurohr, Kareem Mohamed, John Seebode</p>